.HomePage {}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    padding: 80px;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

.fileCard {
    text-align: left;
    margin: 20px;
    white-space: pre-line;
    font-size: 14px;
}

.download_zone{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    width: calc(100% - 40px);
    margin: 20px;
}